#Upload{
	display:flex;
	height: 100%;
    margin-right: 30%;
    
}
#nav-zone{
    margin-left: 3rem;
	width: 200%;
}

#drop_file_zone {
    
	background-color: #EEE; 
	border: #999 5px dashed;
	width: 200%; 
	height: 300px;
	padding: 8px;
    font-size: 33px;
	margin-top:50%;
	margin-left: 4rem;
	margin-right: 4rem;
	
}
#drag_upload_file {
	width:100%;
	margin:0 auto;
}
#drag_upload_file p {
	text-align: center;
}
#drag_upload_file #selectfile {
	display: none;
}

#Board{
	background-color: transparentize($color: #DEE4DD, $amount: 0.2);
    margin-left: 3rem;
    border: 1px solid #144956;
    border-radius: 15px;
    display: flex;
    min-width: 100%;
    min-height: 100%;
}

#loading-zone{
	margin-top: 7rem;
}

