#Upload{
    display:flex;
    
}
#nav-left{
    margin-left: 3rem;
    padding-right:3rem;
}

#drop_file_zone {
    
	background-color: #EEE; 
	border: #999 5px dashed;
	width: 200%; 
	height: 300px;
	padding: 8px;
    font-size: 33px;
	margin-top:50%;
	margin-left: 4rem;
	margin-right: 4rem;
	
}
#drag_upload_file {
	width:100%;
	margin:0 auto;
}
#drag_upload_file p {
	text-align: center;
}
#drag_upload_file #selectfile {
	display: none;
}


