#cookie-management{
  font-family: 'Josefin Sans', sans-serif;
  color: #144956; 
  display: block;
  width: 70%;
  height: 50%;

  #titre-cookie {
    font-size: 2rem;
    font-weight: bolder;
    margin: 2em;
  }

 .lilTitleCookie{
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: 600;
  
}

  .corpusCookie{
  font-weight: bolder;
  margin-right: 10rem;
  margin-left: 10rem;
  text-align: justify center;
  line-height: 1.5em;
}
}