@import 'src/styles/reset';
@import 'src/styles/vars';

#Gallery{
    display:flex;
    height: 100%;
    margin-right: 15%;
}
#nav {
    
    width: 300px;
    
}  
#Board2{
   
    background-color: transparentize($color: #DEE4DD, $amount: 0.2);
    margin-left: 3rem;
    border: 1px solid #144956;
    border-radius: 15px;
    display: flex;
    width: 100%;
    min-width: 1000px;
    height: 1000px;
    overflow: auto;
   

}

#cards img{
    border-radius: 5px;
    height:600px;
    width:600px;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    
}


#delete-icon{
    position:relative; 
    z-index:1; 
    left:691px; 
    top:61px; 

    cursor: pointer;
}
#card{
    display:flex;
}
#delete-info{
    visibility: hidden;
}
#delete-info:hover{
    visibility: visible;
}