@import 'src/styles/reset';
@import 'src/styles/vars';

#passwordForgotten {
 
  form {    
    .errorMessage {
      display: block;
      margin: .6em auto 0;
      font-weight: bolder;
      color:  #144956;
      width: 60%;
    }
    button {
        @include buttonForAuth;
        width: 47%;
        height: 2.2em;
    }
  }
  
  .mdpForgotten {
    font-size: 1em;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color:#D0ADBA;
    }  
    
  }
}


@keyframes open {
  from { transform:translateX(100%); }
  to { transform:translateX(0); }
}
