#site-map{
  font-family: 'Josefin Sans', sans-serif;
  color: #144956; 

  #site-map-title{

  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 3rem;
  }

  .sitemapParag {

    font-size:1.5rem;
    margin-top: 2rem;
    font-weight: bolder;
    margin-right: 10rem;
    margin-left: 10rem;

  }
}